* {
        padding: 0;
        margin: 0;
}

/* @media only screen and (min-width:425px){} */

.parent {
        width: 40px;
        height: 40px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 7px;
        margin-left: auto;
        /* padding-right: 20px; */

}

.divider {
        border: 1px solid rgb(255, 255, 255);
        margin: 9px;
        /* padding-right: 20px; */
}

.purple {
        background-color: purple;
        padding-bottom: 80px;
}

.logo {
        margin-top: -25px;
        padding-left: 25px;
}

.nav {
        display: none;
}

.hi {
        color: white;
        font-size: 18px;
        font-weight: 800;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;


}

#work {
        background-color: rgb(210, 100, 16);
        color: white;
        border-radius: 5px;
        text-align: center;
        padding: 13px;
        font-size: 10px;
        margin-left: 38%;
        box-shadow: 3px 3px 4px red;
        text-align: center;
}

.green {
        background-color: rgb(5, 238, 242);
        padding-bottom: 60px;
}

h3 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
        width: 40px;
        margin-left: 45%;
}

p {
        text-align: center;
        padding-top: 10px;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        padding-bottom: 20px;
}

#greenul {
        list-style-type: none;
}

.greenimg {
        padding-top: 10px;
        padding-left: 40%;
        width: 60px;
}

.grey {
        background-color: rgb(190, 224, 224);
        padding-bottom: 60px;
}

.greyimg {
        width: 100px;
        border-radius: 50%;
        margin-left: 40%;
}

#greyspan {
        color: rgb(47, 117, 145);
        text-align: center;
        padding-top: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        padding-bottom: 10px;
        padding-left: 40%;
}

.greyicon {
        padding-left: 22%;
}

/* tablet resposnive */
@media only screen and (min-width:768px) {
        #work {
                margin-left: 42%;
                text-align: center;

        }

        h2 {
                font-size: 30px;
        }

        .greenli1 {
                display: inline-block;
                padding: 20px;
        }


        .greenli2 {
                display: inline-block;
                padding: 15px;
        }

        .greyli1 {
                display: inline-block;
                padding: 20px;
        }


        .greyli2 {
                display: inline-block;
                padding: 15px;
        }
}

/* laptop screen */
@media only screen and (min-width:1024px) {
        .logo {
                margin-top: 25px;
                padding-left: 25px;
                display: inline;
        }

        .parent {
                display: none;
        }

        .nav {
                display: inline;
                list-style-type: none;
                padding-left: 30%;
        }

        .nav li {
                display: inline-block;
        }

        .nav li a {
                color: white;
                text-decoration: none;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                margin: 20px;
        }

        .hi {
                font-size: 28px;
                padding-top: 70px;
        }

        #work {
                margin-left: 45%;
                text-align: center;

        }

        hr {
                width: 50px;
                margin-left: 47%;
        }

        h2 {
                font-size: 35px;
                padding-top: 30px;
        }

        p {
                font-size: 15px;
                padding-bottom: 50px;
        }

        .greenimg {
                padding-top: 10px;
                padding-left: 30%;
                width: 60px;
        }

        #greenul li {
                display: inline-block;
                width: 21%;
        }

        .greyul li {
                display: inline-block;
                width: 21%;
        }

        #greyspan {
                font-size: 15px;
                padding-left: 30%;
                text-align: center;
        }

        .greyicon {
                padding-left: 5%;
        }
}

@media only screen and (min-width:1440px) {
        .nav {
                display: inline;
                list-style-type: none;
                padding-left: 50%;
        }

        #work {
                margin-left: 46%;
                text-align: center;

        }

        #greenul {
                list-style-type: none;
        }

        .greyicon {
                padding-left: 20%;
        }

}

@media only screen and (min-width:2560px) {
        .nav {
                display: inline;
                list-style-type: none;
                padding-right: 30%;
        }

}